*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0.25rem;
    font-family: "Montserrat", sans-serif;
    background: black;
    color: white;
    overflow: hidden;
}

.header{
    display: grid;
    grid-template-columns: 3rem 1fr 1fr;
    padding: 0 0 0.4rem 0;
    gap: 1rem;
    position: sticky;
    align-items: center;
}


#logo i{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
 .icon-btn{
    display: flex;
    height: 2.7rem;
    width: 2.7rem;
    background-color:#302e2e9c;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s linear;
    
 }
 .icon-btn:hover{
      background-color:#ffffff3a;
 }
 #library-btn{
    background-color: transparent;
 }
 .search-box-container{
    display: flex;
    gap: 1rem;
    width: 95%;
   
 }
 .search-box{
    display: flex;
    padding: 0 1rem;
    background-color:#232323;
    height: 2.7rem; 
    align-items: center;
    flex: 1;
    border-radius: 20px;
    border: 0.1px solid rgba(255, 255, 255, 0.014);
    opacity: 0.75;
    transition: all 0.2s linear;
 }
 .search-box:hover{
    opacity: 1;
    border: 0.1px solid rgba(255, 255, 255, 0.427);
    background-color:#ffffff25;
 }
 .search-box:focus-within{
     opacity: 1;
     border: 1.25px solid rgba(255, 255, 255, 0.871);
     #browse{
         opacity: 0.7;
     }

 }
 .search-box i {
    margin-right: 0.8rem;
}
.search-box input{
    width: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    outline: none;
    color: white;
}
.nav-links{
    padding: 0 0 0 1rem;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    flex: 1;
}

.nav-links a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
    
}

.nav-links a:hover {
    color: white;
    transform: scale(1.02);
}
.login{
    height: 3rem;
    width: 6rem;
    border-radius: 1.3rem;
    margin-left: 1.5rem;
    font-weight: bold;
    opacity: 0.9;
    transition: transform 0.1s linear;
    font-size: medium;
    cursor: pointer;
}
.login:hover{
    opacity: 1;
    transform: scale(1.05);
}
.main{
    display: grid;
    height: calc(100vh - 4rem);
    grid-template-columns: 400px 3fr;
    gap: 0.5rem;
}
.navbar{
    display: flex;
    height: calc(100vh - 4rem);
    width: 100%;
    overflow: hidden;
    background-color:#23232382;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-left: 0.5rem; */
    border-radius: 10px;
  
    
}
 .navbar .library{
    display: flex;
    position: sticky;
    width: 100%;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 1.5rem 0 1rem rgba(0,0,0) ;   
}
.library button{
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    border-radius: 20px;
    background-color:#2c2a2a86;
    color: white;
    border: none;   
    transition: background-color 0.2s linear;
    
}
.library button:hover{
    background-color:#ffffff23;
}
.playlist-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 45%; */
    gap: 0.75rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0.5rem;

}
.playlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#2323236c;
    padding: 1rem;
    border-radius: 10px;
}

.playlist-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
    line-height: 1.2rem; 
}

.playlist-text {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.8;
    margin: 0.5rem;
    line-height: 1.1rem; 
    word-break: break-word;
}

.playlist button{
    height: 2.3rem;
    width: 9.3rem;
    font-size:0.9rem;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 0.5rem;
    transition: all 0.1s linear;
    cursor: pointer;
}
.playlist button:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255);
}
.navbar-link-container{
    display: flex;
    flex-direction: column;

}
.navbar-link{
    text-align: start;
    justify-content: start;
    width: 85%;
    margin-left: 2rem;
    margin-top: 2.5rem;
}
.navbar-link a{
    /* display: flex; */
    flex-direction: column;
    font-size:0.75rem;
    color: white;
    text-decoration: none;
    line-height: 2rem;
    opacity: 0.9;
    white-space: normal;
}
.navbar #cookies{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 0.85rem;
    transition: text-decoration 0.2s linear;
}
#cookies:hover{
    text-decoration: underline 0.1rem white ;
}
.navbar .globe{
    width: 6rem;
    height: 2rem;
    background-color:#2b2a2a;
    color: white;
    margin-left: 2rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    border: 0.2px solid rgba(255, 255, 255, 0.334);
    font-weight: 600;
    transition: transform,0.2s linear, border 0.2s linear;
    cursor: pointer;
}
.navbar .globe:hover{
    transform: scale(1.05);
    border: 0.2px solid rgba(255, 255, 255);
}
.content{
    background-color:#23232382;
    width: 100%;
    height: 100%; 
    /* margin: 0 0 0 0.5rem; */
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 60px;
    scroll-behavior: smooth;
}
.playlist-container::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 12px;
}
.playlist-container::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
    background: transparent;
    
}
.playlist-container::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
}
.playlist-container::-webkit-scrollbar-thumb:hover,
.content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
   
}
.card-container{
    display: flex;
    padding: 0rem 1.5rem 2rem 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
     scroll-behavior: smooth;
    
    
}
.card-container::-webkit-scrollbar{
    height: 0px;
}

.heading{
    display: flex;
    padding: 1rem 1.5rem 0rem 2rem;
    justify-content: space-between;

}
.heading button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 0.95rem;
    font-weight: bold;
    background:none;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    transition: text-decoration 0.3s linear;
    cursor: pointer;
   
}
.heading button:hover{
    text-decoration: underline white;
   
}
.card{
   
    width: 12rem;
    height:fit-content;
    border-radius: 12px;
    padding: 0.65rem 0.65rem 0.65rem 0.65rem;
    line-height: 2rem;
    flex: 0 0 auto;
    margin: 0;
    transition: text-decoration  0.1s linear, background-color 0.1s linear;
    cursor: pointer;
    /* position: relative; */

}
.card-image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    position: relative; 
    
}

#artist-profile{
    border-radius: 50%;
}
.card-title{
     display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
     text-overflow: ellipsis;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.2rem;
    margin: 0.4rem 0 0 0;
    white-space: normal;
    word-break: break-word;
    
}
.card-info{
     display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.87rem;
    opacity: 0.7;
    margin-top: 0.2rem;
    line-height: 1.2rem;
    white-space: normal;
}
.heading:hover,
.card-title:hover,
.card-info span:hover{
    text-decoration: underline;
}

.card:hover{
    background-color:#ffffff13;
    transform: scale(1.005);
}
.play-btn {
    position: absolute;
    bottom: 1.15rem;
    right: 0.5rem;
    height: 45px;
    width: 45px;
    background: #1db954;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    color: black;
    font-size: 20px;
}
.card:hover .play-btn {
    opacity: 1;
    transform: translateY(0);
}
.footer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 200px;
    
}
.footer-link{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    padding: 2rem 0 2rem 0;
}

.footer-link li{
    list-style: none;
}
.footer-link a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.75rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s ease , text-decoration 0.3s ease;
}
.footer-link a:hover{
    color: rgba(255, 255, 255);
    text-decoration: underline white;
}
 .useful-links h4{
    padding: 0;
    margin-bottom: 0.5rem;
}
.social-media-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 2rem;
    width: 100%;
}
.social-media{
    display: flex;

    
}
.social-media a {
    height: 42px;
    width: 42px;
    background-color: #fffefe0a;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.2s ease;
    margin: 0.5rem;
}

.social-media a:hover {
    background-color: #413f3f;
}

.hr-line{
    width: 100%;
    margin: 0 1rem 0 1rem;
    opacity: 0.05;
    padding: 1rem 0 0 1rem;
}
.copyright{
  
    opacity: 0.75;
    padding: 1rem 2rem;
    font-size: 0.9rem;
}
footer{
    margin-top: 2rem;
}


@media(max-width: 1200px) {
    
    .main {
        grid-template-columns: 350px 1fr;
    }

    .navbar {
        padding: 0.5rem;
    
    }
    .navbar .playlist-container{
        overflow-x: hidden;
    }

    .card {
        width: 10rem;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-link{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .social-media-container{
        padding: 0 0 0 1rem;
        display: flex;
        justify-content: start;

    }
}

@media(max-width: 900px) {
    .header {
        grid-template-columns: 2.5rem 2fr 1fr;
        gap: 0.5rem;
        padding-bottom: 0.7rem;
    }
    .nav-links span,
    .install,
    .signup,
    .login  {
        display: none; 
    }
    .nav-links{
        display: flex;
        justify-content:space-evenly ;
    }

    .search-box-container {
        width: 100%;
    }

    .main {
        grid-template-columns: 180px 1fr;
    }

    .card {
        width: 9rem;
    }
}


@media(max-width: 700px) {

    .main {
        grid-template-columns: 1fr; 
    }
    .header {
        display: flex;
    }
    .navbar {
        display: none;  
    }
    .nav-links{
        display: none;
    }
    .content {
        border-radius: 0; 
        height: 100%;
    }

    .heading {
        padding: 1rem;
    }

    .card-container {
        padding: 0 1rem 1rem 1rem;
        gap: 0.5rem;
    }

    .card {
        width: 8rem; 
    }

    .search-box-container a:first-child { 
        display: none; 
    }
   

}


@media(max-width: 576px) {

    .card {
        width: 7rem;
        padding: 0.5rem;
    }

    .playlist button {
        width: 100%;
    }

    .playlist-title {
        font-size: 0.9rem;
    }
    
    
     .footer-link{
       display: inline-block;
      
      justify-content: space-around;
      padding: 0.25rem;


    }
    .useful-links{
        margin:1.5rem 0 0 1rem;
    }
    .search-box-container a:first-child { 
        display: none; 
    }

}
